/* Tamarind styles */

* {
	box-sizing: border-box;
}

.Tamarind {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #ccc;
}

.Tamarind-item {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	transition: opacity 1s ease-in-out;
	background: #efefef;
}

.Tamarind-item.inactive {
	opacity: 0;
}

.no-opacity .Tamarind-item.inactive {
	visibility: hidden;
}

.Tamarind-item.active {
	opacity: 1;
}

.no-opacity .Tamarind-item.active {
	visibility: visible;
}

.Tamarind-image {
	width: 100%;
}
